<h1> <span style="background-color: #26baf1; color: #ffffff; padding: 0 3px;">Désolé, ce TI n'est pas encore disponible !</span></h3>
    <p><strong><h2>Merci de le signaler à votre professeur qui demandera à l'équipe des professeurs de le mettre en ligne sur le site au plus vite</strong></p>
      <img src="https://cdn.pixabay.com/photo/2015/11/03/09/03/question-mark-1019983_960_720.jpg" alt="" />
    